@import url(header.css);
@import url(footer.css);

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: white;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    min-height: 125vh;
    overflow-x: hidden;
}

@font-face {
    font-family: spacefont;
    src: url(fonts/SpaceGrotesk.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat.ttf);
}

main {
    margin: 0;
}

/*Slideshow*/
#meimg {
    z-index: 2;
    width: 20vw;
    height: 52vh;
    border: 10px solid #1C1C1D;
    padding: 5px;
    outline: 10px solid turquoise;
    outline-offset: 5px;
    user-select: none;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    z-index: -1;
    animation: slideFromRight 1.920s ease forwards;
}

.mySlides {
    display: none;
    position: absolute;
    top: 4vh;
    left: 70vw;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 8s;
    animation-fill-mode: forwards; 
}

/*content*/
.aboutheadwrap {
    width: 100vw;
    display: flex;
    height: 25vh;
}

.abouthead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
    text-align: center;
    font-family: 'spacefont';
    font-size: 3vw;
    user-select: none;
    animation: fadeIn 2s ease forwards;
    z-index: -1;
}

#bgimg {
    z-index: -2;
    position: absolute;
    right: 29.8vw;
    top: 13rem;
    height: 26.5rem;
    width: 100%;
    animation: slideFromRight 2s ease forwards;
}

.wrapper {
    display: flex;
    height: 50vh;
    padding-top: 20vh;
    animation: slideFromRight 2s ease forwards;
}

.textwrap {
    position: absolute;
    width: 64vw;
    top: 34.5vh;
    left: 2vw;
    z-index: -1;
}

.aboutmetext {
    color: white;
    font-family: 'montserrat';
    font-size: 1.3vw;
    text-indent: 50px;
    text-align: justify;
    line-height: 3.8vh;
    user-select: none;
    animation: fadeIn 2s ease forwards;
}

.skillswrap {
    width: 100vw;
    display: flex;
    height: 25vh;
    position: absolute;
    top: 70vh;
}

.skillhead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
    text-align: center;
    font-family: 'spacefont';
    font-size: 3vw;
    user-select: none;
    animation: fadeIn 2s ease forwards;
    z-index: -1;
}

#containerwrap {
    user-select: none;
    display: inline;
}

.container {
    position: relative;
    display: inline-block;
    margin: 3.2vw;
    top: 70vh;
    user-select: none;
    left: -100%;
}

.container.slide-left {
    animation: slideLeftVisible 1s ease forwards;
}

.langimg {
    display: block;
    width: 150px;
    height: auto;
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

.overchart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

.container:hover .langimg {
    filter: brightness(130%);
}

.container:hover .overchart {
    opacity: 1;
}

#popimg {
    width: 100px;
    height: auto;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

#popup-container {
    position: fixed;
    top: 65vh;
    right: -400px;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #1C1C1D;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: none;
    -webkit-user-drag: none;
    user-select: none;
    text-align: center;
}

#popup-container a {
    text-decoration: none;
}

.poptext {
    font-family: 'montserrat';
    font-size: 14px;
    margin: 10px;
}




/*Transitions*/
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideLeftVisible {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
}




/*Responsive*/
@media screen and (max-width: 1441px) {
    body {
        min-height: 125vh;
    }

    #bgimg {
        top: 15rem;
    }

    #meimg {
        width: 100%;
        height: 26rem;
    }

    .mySlides {
        display: block;
        position: absolute;
        top: 1.5rem;
        left: 64rem;
        width: 23%;
    }

    .textwrap {
        top: 17.5rem;
    }

    .skillswrap {
        height: 0;
        top: 35rem;
    }

    .container {
        top: 35rem;
    }

    .langimg {
        width: 140px;
    }

    .overchart {
        width: 140px;
    }
}

@media screen and (max-width: 1025px) {
    #bgimg {
        top: 11rem;
        height: 21rem;
    }

    #meimg {
        width: 100%;
        height: 20rem;
    }

    .mySlides {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 45.5rem;
        width: 23%;
    }

    .skillswrap {
        top: 28rem;
    }

    .container {
        top: 28rem;
    }

    .textwrap {
        top: 13rem;
    }

    .langimg {
        width: 100px;
    }

    .overchart {
        width: 100px;
    }
}

@media screen and (max-width: 769px) {
    body {
        min-height: 260vh;
    }

    #bgimg {
        position: relative;
        margin-top: 27rem;
        height: 30rem;
        width: 100%;
        right: 0;
    }

    .aboutheadwrap {
        width: 100vw;
        display: block;
        height: auto;
        position: absolute;
        top: 8rem;
    }

    .abouthead {
        margin-top: 0;
        font-size: 3rem;
        z-index: -1;
    }

    .textwrap {
        position: absolute;
        width: 95%;
        top: 42rem;
        left: 2vw;
    }
    
    .aboutmetext {
        font-size: 3vw;
        margin: 8px;
    }

    #meimg {
        width: 100%;
        height: 20rem;
    }

    .mySlides {
        display: block;
        position: absolute;
        top: -43.5rem;
        left: 15rem;
        width: 32%;
    }

    .skillswrap {
        height: 20px;
        position: absolute;
        top: 75rem;
    }
    
    .skillhead {
        font-size: 3rem;
        margin-top: 0;
    }

    .container {
        top: 50vh;
        margin-left: 5px;
    }

    .langimg {
        width: 170px;
        padding-left: 45px;
    }

    .overchart {
        width: 170px;
        padding-left: 43px;
    }

    #popup-container {
        display: none;
    }
}

@media screen and (max-width: 501px) {
    body {
        min-height: 290vh;
    }

    #bgimg {
        position: relative;
        margin-top: 28rem;
        height: 35rem;
        width: 100%;
        right: 0;
    }

    .aboutheadwrap {
        width: 100vw;
        display: block;
        height: auto;
        position: absolute;
        top: 8rem;
    }

    .abouthead {
        margin-top: 0;
        font-size: 3rem;
        z-index: -1;
    }

    .textwrap {
        position: absolute;
        width: 95%;
        top: 43rem;
        left: 2vw;
    }
    
    .aboutmetext {
        font-size: 3.8vw;
        margin: 8px;
    }

    #meimg {
        width: 100%;
        height: 52vh;
    }

    .mySlides {
        display: block;
        position: absolute;
        top: -50rem;
        left: 4.5rem;
        width: 60%;
    }

    .skillswrap {
        height: 20px;
        position: absolute;
        top: 75rem;
    }
    
    .skillhead {
        font-size: 3rem;
        margin-top: 0;
    }

    .container {
        top: 17rem;
        margin-left: 5px;
    }

    .langimg {
        padding-left: 35px;
        width: 150px;
    }

    .overchart {
        padding-left: 32px;
        width: 150px;
    }

    #popup-container {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    body {
        min-height: 265vh;
    }

    .mySlides {
        left: 2.5rem;
        width: 70%;
    }

    .container {
        top: 17rem;
        margin-left: 18px;
    }

    .langimg {
        padding-left: 37px;
        width: 100px;
    }

    .overchart {
        padding-left: 35px;
        width: 100px;
    }
}

@media screen and (max-width: 336px) {
    body {
        min-height: 255vh;
    }

    #meimg {
        width: 100%;
        height: 45vh;
    }

    .mySlides {
        top: -46rem;
        left: 2rem;
    }

    .langimg {
        padding-left: 35px;
        width: 80px;
    }

    .overchart {
        padding-left: 32px;
        width: 80px;
    }
}