@import url(header.css);
@import url(footer.css);

html {
    box-sizing: border-box;
}

body{
    background-color: white;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    min-height: 100vh;
}

@font-face {
    font-family: spacefont;
    src: url(fonts/SpaceGrotesk.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat.ttf);
}

main {
    margin: 0;
}

/*Contacts content*/
.contheadwrap {
    width: 100%;
    max-width: 100vw;
    display: flex;
    height: 25vh;
}

.conthead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
    text-align: center;
    font-family: 'spacefont';
    font-size: 3vw;
    user-select: none;
    animation: fadeIn 2s ease forwards;
    z-index: -1;
}

.formwrap {
    display: flex;
    margin: 0;
}

.leftwrap {
    display: flex;
    width: 50vw;
    background-color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 0 2vh 0;
    justify-content: center;
    animation: fadeIn 2s ease forwards;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid #1c1c1d;
  padding: 5px;
  outline: 2px solid turquoise;
  outline-offset: 2px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'montserrat';
  color: #1c1c1d;
  margin: 1vh 2vw;
}

::-webkit-validation-bubble-message { 
    display: none;
}

form input {
    height: 60px;
}

form textarea {
    height: 360px;
}

.contactwrap span {
    color: #1c1c1d;
    opacity: 0.7;
    z-index: -1;
}

form .submit_btn {
    padding: 1rem 2rem;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'montserrat';
    font-weight: 500;
    background-color: #1c1c1d;
    margin-top: 1vh;
}

form .submit_btn:hover {
    background-color: turquoise;
    color: #1c1c1d;
    box-shadow: 0 5px 5px 0 #1c1c1d;
}

.rightwrap {
    display: flexbox;
    animation: fadeIn 2s ease forwards;
    width: 50vw;
    background-color: white;
}

.rightwrap div {
    margin: 5vh 10vw;
}

.rightwrap p {
    margin-top: 10vh;
    font-size: 1.5vw;
    font-family: 'montserrat';
    text-align: center;
    margin-bottom: 10vh;
}

.rightwrap img {
    width: 3vw;
    background-color: turquoise;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.rightwrap span {
    align-self: center;
    font-family: 'spacefont';
    font-size: 1.2vw;
    margin-left: 10px;
}

.rightwrap a {
    text-decoration: none;
    color: black;
}

.rightwrap img:hover {
    box-shadow: 0 5px 5px 0 #1c1c1d;
}

.rightwrap span:hover {
    text-shadow: 0.5px 0.5px #1c1c1d;
}



/*Transitions*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*Responsive*/
@media screen and (max-width: 1441px) {
    .conthead {
        font-size: 3.5rem
    }

    .rightwrap p {
        font-size: 1.8rem;
    }

    .rightwrap img {
        width: 3rem;
    }
    
    .rightwrap span {
        font-size: 1.5rem;
    } 
}

@media screen and (max-width: 1025px) {
    body {
        min-height: 140vh;
    }

    .conthead {
        font-size: 2.5rem
    }

    .rightwrap p {
        font-size: 1.5rem;
    }

    .rightwrap img {
        width: 3rem;
    }
    
    .rightwrap span {
        font-size: 1rem;
    }   
}

@media screen and (max-width: 769px) {
    .conthead {
        font-size: 2.5rem;
    }

    .formwrap {
        display: block;
    }

    .leftwrap {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .rightwrap {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .rightwrap div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .rightwrap p {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .rightwrap img {
        width: 3rem;
    }
    
    .rightwrap span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 501px) {
    body {
        min-height: 205vh;
    }

    .leftwrap {
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
    body {
        min-height: 200vh;
    }

    .leftwrap {
        width: 22rem;
    }

    .rightwrap p {
        font-size: 1.3rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .rightwrap img {
        width: 3rem;
    }
    
    .rightwrap span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 336px) {
    .leftwrap {
        width: 18rem;
    }
}