@import url(header.css);

html {
    box-sizing: border-box;
}

body{
    background-color: white;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    min-height: 100vh;
}

@font-face {
    font-family: spacefont;
    src: url(fonts/SpaceGrotesk.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat.ttf);
}

main {
    margin: 0;
}

/* Home Page */
#mypic {
    width: 600px;
    height: 665px;
    position: fixed;
    top: 10%;
    z-index: -1;
    animation: slideInFromLeft 1s ease forwards;
    -webkit-user-drag: none;
    user-select: none;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    height: 50vh;
    padding-top: 20vh;
    max-width: 100vw;
}

.leftwrap {
    display: flex;
    width: 50vw;
}

.rightwrap {
    display: flex;
    margin-right: 20vw;
    animation: fadeIn 2s ease forwards; 
}

.greet{
    font-size: 6rem;
    color: black;
    font-family: 'spacefont';
    font-weight: bolder;
    height: 12vh;
    margin-bottom: 0;
    user-select: none;
}

.greetcont{
    font-size: 1.4rem;
    color: black;
    font-family: 'montserrat';
    line-height: 1.8;
    height: 20vh;
    max-width: 50vw;
    user-select: none;
}

.btn{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    font-size: 1.3rem;
    border: none;
    margin: 10px 30px 10px 0px;
    padding: 2vh 1.5vw;
    display: inline-block;
    font-family: 'montserrat';
}

.greetcont a:link{
    color: white;
}

.greetcont a:visited{
    color: white;
}

.greetcont a:hover{
    color: turquoise;
    box-shadow: 0 5px 8px 0 turquoise;
}

.greetcont a:active{
    color: turquoise;
}

.fade-out {
    transition: opacity 2s ease-out;
    opacity: 1;
}

.fade-out.fade-out-active {
    opacity: 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #1c1c1d;;
}

.botname{
    font-family: 'spacefont';
    font-size: 14px;
    text-align: right;
    bottom: 0px;
    float: right;
    margin-right: 10px;
    color: white;
}




/*Transitions*/
@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}





/*Responsive*/
@media screen and (max-width: 1200px) {
    .greet {
        font-size: 5rem;
    }

    .greetcont {
        font-size: 1rem;
    }

    .leftwrap {
        width: 60vw;
    }

    .rightwrap {
        margin-right: 10vw;
    }

    .wrapper {
        padding-top: 25vh;
    }
}

@media screen and (max-width: 1062px) {
    .greet {
        font-size: 4rem;
    }

    .greetcont {
        font-size: 1rem;
    }

    .leftwrap {
        width: 65vw;
    }

    .rightwrap {
        margin-right: 5vw;
    }

    .btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 901px) {
    .greet {
        font-size: 4rem;
        margin-top: 20px;
    }

    .greetcont {
        font-size: 1rem;
        width: 500px
    }

    #mypic {
        position: relative;
        margin-top: 50px;
    }

    .wrapper {
        padding: 0;
        width: 100%;
    }

    .leftwrap {
        width: 25vw;
    }

    .rightwrap div {
        justify-content: center;
        text-align: center;
    }

    .btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 662px) {
    body {
        min-height: 120vh;
    }

    .btn {
        margin-right: 0;
        display: block
    }
}

@media screen and (max-width: 601px) {
    body {
        min-height: 180vh;
    }

    .btn {
        margin-right: 0;
        display: block
    }

    .leftwrap {
        width: 25vw;
    }

    .greet {
        font-size: 3.5rem;
        display: block;
    }
}

@media screen and (max-width: 501px) {
    body {
        min-height: 150vh;
    }

    #mypic {
        width: 100%;
        height: auto;
        margin-top: 5rem;
    }

    .greet {
        height: auto;
        font-size: 2rem;
    }

    .greetcont {
        height: auto;
        min-width: 120px;
    }

    .leftwrap {
        width: 25vw;
    }

}