html {
    box-sizing: border-box;
}

body{
    background-color: white;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    min-height: 100vh;

}

@font-face {
    font-family: spacefont;
    src: url(fonts/SpaceGrotesk.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat.ttf);
}

main {
    margin: 0;
}

/* Home Page */
.header1{
    padding: 5px 16px;
    background: white;
    box-shadow: 0 0 10px 0;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/*header link*/
.header1 a {
    text-decoration: none;
    color: black;
}

.header1 a:hover {
    color: black;
}


.header2{
    padding: 45px 16px;
    background: white;
    position: fixed;
    top: 100;
    right: 0;
}

.name{
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    font-family:'montserrat';
    font-weight: bold;
    color: black;
}

.ndesc{
    font-size: 18px;
    text-align: left;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: medium;
    font-family: 'spacefont';
    color: black;

}

.logo{
    height: 100px;
    width: 100px;
    margin: 0;
    float: left;
}

/*navigation*/
.navi{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    float: right;
}

nav li a{
    padding: 20px;
    text-decoration: none;
    font-family: 'Gill Sans MT';
}

a.nav:link{
    color: black;
}

a.nav:visited{
    color: black;
}

a.nav:hover{
    color: turquoise;
}

a.nav:active{
    color: turquoise;
}

.wrapper {
    display: flex;
    height: 50vh;
    padding-top: 20vh;
}

.leftwrap {
    display: flex;
    width: 50vw;
}

.rightwrap {
    display: flex;
    margin-right: 20vw;
}

.greet{
    font-size: 90px;
    color: black;
    font-family: 'spacefont';
    font-weight: bolder;
    height: 12vh;
    margin-bottom: 0;
    user-select: none;
}

.greetcont{
    font-size: 20px;
    color: black;
    font-family: 'montserrat';
    line-height: 1.8;
    height: 15vh;
    max-width: 50vw;
    user-select: none;
}

.btnwrap {
    left: 80vw;
    right: 20vw;
}

.btn{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    font-size: 18px;
    border: none;
    margin: 30px 30px 10px 0px;
    padding: 15px 25px;
    display: inline-block;
}

.greetcont a:link{
    color: white;
}

.greetcont a:visited{
    color: white;
}

.greetcont a:hover{
    color: turquoise;
    box-shadow: 0 5px 8px 0 turquoise;
}

.greetcont a:active{
    color: turquoise;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
}

.botname{
    font-family: 'spacefont';
    font-size: 14px;
    text-align: right;
    bottom: 0px;
    float: right;
    margin-right: 10px;
}

#construct {
    width: 100vw;
    position: absolute;
    top: 10%;
    z-index: -1;
}